# Exploratory Dataset Analysis

In [1]:
import pandas as pd
import numpy as np
import nltk

import utils

In [2]:
df = pd.read_csv('./data/csv/output.csv')

In [15]:
df.describe()

,Unnamed: 0,issue_id,history_order,field_evo_order,minutes_since_creation,hours_since_creation,days_since_creation
count,8.753336e+06,8.753336e+06,8.753336e+06,8.753336e+06,8.753336e+06,8.753336e+06,8.753336e+06
mean,2.436415e+07,6.016951e+06,2.885072e+00,1.116742e+00,2.445858e+05,4.076430e+03,1.698513e+02
std,3.558369e+06,6.122477e+06,1.226352e+01,1.125694e+01,8.439565e+05,1.406594e+04,5.860809e+02
min,1.832379e+07,1.013600e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.057698e+07,2.624500e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.509009e+07,1.378313e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.739913e+07,1.259318e+07,4.000000e+00,1.000000e+00,1.331957e+04,2.219928e+02,9.249699e+00
max,2.971864e+07,1.441846e+07,1.109000e+03,1.101000e+03,1.458545e+07,2.430909e+05,1.012879e+04

In [16]:
df_fields = df['field']
df_fields.unique()

array(['Summary', 'Description', 'VersionsAffected', 'IssueType',
       'Project', 'Components', 'CreatedDate', 'ResolvedDate', 'Status',
       'Priority', 'Creator', 'Reporter', 'Comments', 'Resolution',
       'IssueLinks', 'Labels', 'Environment', 'VersionsFixed', 'Assignee',
       'TimeEstimateOriginal', 'TimeEstimateRemaining', 'Rank', 'Parent',
       'Sprint', 'TimeSpent', 'Flagged'], dtype=object)

Not relevant fields: 
Assignee, CreatedDaten, Creator, Environment, IssueLinks, Parent, Rank, Reporter, ResolvedDate, Sprint, TimeEstimateOriginal, TimeEstimateRemaining, TimeSpent, VersionsAffected, VersionsFixed

Fields with context information: 
Description, IssueType, Status, Summary, Comments, Priority, Project, Resolution, (Components, Flagged, Labels)

Relevant fields for completion: 
IssueType, Status, Summary, (Description, Labels)

In [17]:
# df[df["data_to"].isnull() & df["field"] == "IssueLinks"].head(10)
df[df["data_to"].isna()].count()

Unnamed: 0                291890
jira                      291890
issue_id                  291890
history_order             291890
field                     291890
field_evo_order           291890
field_evo_first           291890
field_evo_last            291890
data_from                 267083
data_to                        0
history_author            291878
history_created_date      291890
issue_self                291890
issue_creator             291873
issue_created_date        291890
final_issuetype           291890
final_issuetype_theme     291890
final_issuetype_code      291890
final_project             291890
minutes_since_creation    291890
hours_since_creation      291890
days_since_creation       291890
field_theme               291890
last_creator              268687
last_reporter             268095
last_assignee             188614
last_commenter            155202
last_evolver              268692
prev_creators             291890
prev_reporters            291890
prev_assignees            291890
prev_commenters           291890
prev_evolvers             291890
dtype: int64

### search for Bug

In [18]:
df[df["data_to"] == "Bug"]

,Unnamed: 0,jira,issue_id,history_order,field,field_evo_order,field_evo_first,field_evo_last,data_from,data_to,...,last_creator,last_reporter,last_assignee,last_commenter,last_evolver,prev_creators,prev_reporters,prev_assignees,prev_commenters,prev_evolvers
3,18323792,Jira,1803818,0,IssueType,0,True,True,NaN,Bug,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
21,18323810,Jira,1795802,0,IssueType,0,True,True,NaN,Bug,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
38,18323827,Jira,1795162,0,IssueType,0,True,True,NaN,Bug,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
54,18323843,Jira,1794394,0,IssueType,0,True,True,NaN,Bug,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
76,18323865,Jira,1788469,0,IssueType,0,True,True,NaN,Bug,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8753019,29718328,RedHat,13226126,0,IssueType,0,True,False,NaN,Bug,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753068,29718377,RedHat,13226125,0,IssueType,0,True,True,NaN,Bug,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753130,29718439,RedHat,13226112,0,IssueType,0,True,False,NaN,Bug,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753162,29718471,RedHat,13226111,0,IssueType,0,True,False,NaN,Bug,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753229,29718538,RedHat,13226106,8,IssueType,1,False,False,Feature,Bug,...,James Tanner,Elijah DeLee,Levente Berky,NaN,Ben Thomasson,['James Tanner'],['Elijah DeLee'],['Levente Berky'],[],"['James Tanner', 'Ben Thomasson', 'Ben Thomass..."

In [46]:
bug_sample = df[df["issue_id"] == 13226126]
bug_sample

,Unnamed: 0,jira,issue_id,history_order,field,field_evo_order,field_evo_first,field_evo_last,data_from,data_to,...,last_creator,last_reporter,last_assignee,last_commenter,last_evolver,prev_creators,prev_reporters,prev_assignees,prev_commenters,prev_evolvers
8753017,29718326,RedHat,13226126,0,Summary,0,True,True,NaN,UI-199: Switch to V1 API - ROI,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753018,29718327,RedHat,13226126,0,Description,0,True,True,NaN,https://github.com/RedHatInsights/tower-analyt...,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753019,29718328,RedHat,13226126,0,IssueType,0,True,False,NaN,Bug,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753020,29718329,RedHat,13226126,0,Project,0,True,True,NaN,Automation Analytics,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753021,29718330,RedHat,13226126,0,Components,0,True,True,NaN,UI,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753022,29718331,RedHat,13226126,0,CreatedDate,0,True,True,NaN,2021-01-06T14:52:39.000+0000,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753023,29718332,RedHat,13226126,0,ResolvedDate,0,True,True,NaN,2021-03-09T16:04:47.000+0000,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753024,29718333,RedHat,13226126,0,Status,0,True,False,NaN,To Do,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753025,29718334,RedHat,13226126,0,Priority,0,True,True,NaN,Medium,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753026,29718335,RedHat,13226126,0,Rank,0,True,False,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753027,29718336,RedHat,13226126,0,Creator,0,True,True,NaN,James Tanner,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753028,29718337,RedHat,13226126,0,Reporter,0,True,True,NaN,Ladislav Smola,...,NaN,NaN,NaN,NaN,NaN,[],[],[],[],[]
8753029,29718338,RedHat,13226126,1,Comments,0,True,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,NaN,James Tanner,['James Tanner'],['Ladislav Smola'],[],[],['James Tanner']
8753030,29718339,RedHat,13226126,2,Comments,1,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],['James Tanner'],"['James Tanner', 'James Tanner']"
8753031,29718340,RedHat,13226126,3,Comments,2,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner']","['James Tanner', 'James Tanner', 'James Tanner']"
8753032,29718341,RedHat,13226126,4,Comments,3,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner']","['James Tanner', 'James Tanner', 'James Tanner..."
8753033,29718342,RedHat,13226126,5,Comments,4,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753034,29718343,RedHat,13226126,6,Comments,5,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753035,29718344,RedHat,13226126,7,Comments,6,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753036,29718345,RedHat,13226126,8,Comments,7,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753037,29718346,RedHat,13226126,9,Comments,8,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753038,29718347,RedHat,13226126,10,Comments,9,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753039,29718348,RedHat,13226126,11,Comments,10,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753040,29718349,RedHat,13226126,12,Comments,11,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753041,29718350,RedHat,13226126,13,Comments,12,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753042,29718351,RedHat,13226126,14,Comments,13,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753043,29718352,RedHat,13226126,15,Comments,14,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753044,29718353,RedHat,13226126,16,Comments,15,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753045,29718354,RedHat,13226126,17,Comments,16,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753046,29718355,RedHat,13226126,18,Comments,17,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753047,29718356,RedHat,13226126,19,Comments,18,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753048,29718357,RedHat,13226126,20,Comments,19,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753049,29718358,RedHat,13226126,21,Comments,20,False,False,NaN,[https://github.com/RedHatInsights/tower-analy...,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753050,29718359,RedHat,13226126,22,Status,1,False,False,To Do,Sprint Backlog,...,James Tanner,Ladislav Smola,NaN,James Tanner,James Tanner,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753051,29718360,RedHat,13226126,23,Rank,1,False,False,NaN,Ranked higher,...,James Tanner,Ladislav Smola,NaN,James Tanner,Ben Thomasson,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753052,29718361,RedHat,13226126,24,Assignee,0,True,True,NaN,Levente Berky,...,James Tanner,Ladislav Smola,NaN,James Tanner,Ben Thomasson,['James Tanner'],['Ladislav Smola'],[],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753053,29718362,RedHat,13226126,25,Sprint,0,True,True,NaN,Analytic Sprint 2,...,James Tanner,Ladislav Smola,Levente Berky,James Tanner,Levente Berky,['James Tanner'],['Ladislav Smola'],['Levente Berky'],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753054,29718363,RedHat,13226126,26,Rank,2,False,True,NaN,Ranked lower,...,James Tanner,Ladislav Smola,Levente Berky,James Tanner,Levente Berky,['James Tanner'],['Ladislav Smola'],['Levente Berky'],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753055,29718364,RedHat,13226126,27,Status,2,False,False,Sprint Backlog,Current Sprint,...,James Tanner,Ladislav Smola,Levente Berky,James Tanner,Levente Berky,['James Tanner'],['Ladislav Smola'],['Levente Berky'],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753056,29718365,RedHat,13226126,28,Status,3,False,False,Current Sprint,In Progress,...,James Tanner,Ladislav Smola,Levente Berky,James Tanner,Ben Thomasson,['James Tanner'],['Ladislav Smola'],['Levente Berky'],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753057,29718366,RedHat,13226126,29,IssueType,1,False,True,Bug,Feature,...,James Tanner,Ladislav Smola,Levente Berky,James Tanner,Ben Thomasson,['James Tanner'],['Ladislav Smola'],['Levente Berky'],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753058,29718367,RedHat,13226126,30,IssueLinks,0,True,False,NaN,This issue is blocked by AA-248,...,James Tanner,Ladislav Smola,Levente Berky,James Tanner,Kia Lam,['James Tanner'],['Ladislav Smola'],['Levente Berky'],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753059,29718368,RedHat,13226126,31,Status,4,False,False,In Progress,Code Review,...,James Tanner,Ladislav Smola,Levente Berky,James Tanner,Levente Berky,['James Tanner'],['Ladislav Smola'],['Levente Berky'],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753060,29718369,RedHat,13226126,32,IssueLinks,1,False,True,This issue is blocked by AA-248,NaN,...,James Tanner,Ladislav Smola,Levente Berky,James Tanner,Levente Berky,['James Tanner'],['Ladislav Smola'],['Levente Berky'],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753061,29718370,RedHat,13226126,33,Status,5,False,False,Code Review,Ready for QA,...,James Tanner,Ladislav Smola,Levente Berky,James Tanner,Levente Berky,['James Tanner'],['Ladislav Smola'],['Levente Berky'],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753062,29718371,RedHat,13226126,34,VersionsFixed,0,True,True,NaN,UI 1.2,...,James Tanner,Ladislav Smola,Levente Berky,James Tanner,Levente Berky,['James Tanner'],['Ladislav Smola'],['Levente Berky'],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753063,29718372,RedHat,13226126,35,Comments,21,False,True,NaN,Verified following scenarios for filters and a...,...,James Tanner,Ladislav Smola,Levente Berky,James Tanner,Ben Thomasson,['James Tanner'],['Ladislav Smola'],['Levente Berky'],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753064,29718373,RedHat,13226126,36,Resolution,0,True,True,NaN,Done,...,James Tanner,Ladislav Smola,Levente Berky,Apurva Bakshi,Apurva Bakshi,['James Tanner'],['Ladislav Smola'],['Levente Berky'],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."
8753065,29718374,RedHat,13226126,36,Status,6,False,True,Ready for QA,Done,...,James Tanner,Ladislav Smola,Levente Berky,Apurva Bakshi,Apurva Bakshi,['James Tanner'],['Ladislav Smola'],['Levente Berky'],"['James Tanner', 'James Tanner', 'James Tanner...","['James Tanner', 'James Tanner', 'James Tanner..."

### Normal ticket

In [47]:
sample = df[df["issue_id"] == 1803818]

In [48]:
sample_cut = sample.filter(['issue_id', 'history_order', 'history_author', 'history_created_date', 'field', 'data_to'], axis=1)
bug_sample_cut = bug_sample.filter(['issue_id', 'history_order', 'history_author', 'history_created_date', 'field', 'data_to'], axis=1)

In [49]:
def create_comments_history(data):
    comments = {}
    output = pd.DataFrame(columns=['Author', 'Created', 'Comment'])
    
    ind = 0
    for index, row in data.iterrows():
        comments['Author'] = row['history_author']
        comments['Created'] = row['history_created_date']
        comments['Comment'] = row['data_to']
        comments_df = pd.DataFrame(comments, index=[ind])
        output = pd.concat([output, comments_df])
        ind += 1

    return output

In [50]:
def create_ticket(df):
       headers = ['IssueId', 'EvoId', 'Summary', 'Description', 'VersionsAffected', 'IssueType',
       'Project', 'Components', 'CreatedDate', 'ResolvedDate', 'Status',
       'Priority', 'Creator', 'Reporter', 'Comments', 'Resolution',
       'IssueLinks', 'Labels', 'Environment', 'VersionsFixed', 'Assignee',
       'TimeEstimateOriginal', 'TimeEstimateRemaining', 'Rank', 'Parent',
       'Sprint', 'TimeSpent', 'Flagged']

       ticket_df = pd.DataFrame(columns=headers)
       
       data_to_map = {}
       for index, row in df.iterrows():
              data_to_map['IssueId'] = row['issue_id']
              data_to_map['EvoId'] = row['history_order']
              data_to_map['HistoryAuthor'] = row['history_author']
              data_to_map['Updated'] = row['history_created_date']
              field = row['field']
              data_to_map[field] = row['data_to']

              sample_df = pd.DataFrame(data_to_map, index=[0])
              ticket_df = pd.concat([ticket_df, sample_df], axis=0)

       return ticket_df

In [51]:
sample_ticket = create_ticket(sample)
bug_sample_ticket = create_ticket(bug_sample)

In [62]:
sample_ticket.to_csv("data/csv/unprocessed/sample_df.csv")
bug_sample_ticket.to_csv("data/csv/unprocessed/bug_sample_df.csv")

In [52]:
sample_ticket_with_singel_evoId = sample_ticket.groupby(['EvoId']).last()
bug_sample_ticket_with_singel_evoId = bug_sample_ticket.groupby(['EvoId']).last()

In [61]:
sample_ticket_with_singel_evoId.to_csv("data/csv/ticket/sample_ticket.csv")
bug_sample_ticket_with_singel_evoId.to_csv("data/csv/ticket/bug_sample_ticket.csv")

### for context prompt

In [54]:
from json import loads, dumps

In [55]:
def createLastRowWithCommentSection(last_row, sample_df):
    row = last_row.filter(['Summary','Description','VersionsAffected','IssueType','Project','Components','CreatedDate','ResolvedDate','Status','Priority','Creator','Reporter','Resolution','IssueLinks','Labels','VersionsFixed','Assignee','TimeSpent'], axis=1).iloc[[-1]]
    comment_history = create_comments_history(sample_df[sample_df['field'] == 'Comments'])
    row.at[:, 'Comments'] = [comment_history]

    return row

In [56]:
last_row = createLastRowWithCommentSection(sample_ticket_with_singel_evoId, sample_cut)
bug_last_row = createLastRowWithCommentSection(bug_sample_ticket_with_singel_evoId, bug_sample_cut)

In [60]:
last_row.to_csv("data/csv/last_row/last_row.csv")
last_row.to_json("data/json/last_row/last_row.json", orient="records", lines=True, indent=4)

bug_last_row.to_csv("data/csv/last_row/bug_last_row.csv")
bug_last_row.to_json("data/json/last_row/bug_last_row.json", orient="records", lines=True, indent=4)

In [59]:
create_comments_history(bug_sample_cut[bug_sample_cut['field'] == 'Comments'])


bug_sample_cut.to_csv("data/csv/bug_sample_cut_unprocessed.csv")